/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
html{
    overflow-x: hidden;
}

/* Colors */
.banner-text-color{
    color: #E0E0E0;
}
.header-bg{
    background-color: #264653;
}
.banner p,h6{
    color: #E0E0E0;
}
.button-bg{
    background-color: #E76F51;
    color: white;
}
.feature-grayscale img{
    filter: grayscale(100%);
}
.client p{
    color: #6C6C6C;
}
.client h6{
    color: #23A6F0;
}
.fa-star.filled{
    color: #E77C40;
}
.fa-star.empty{
    color: #E77C40;
}
.h2-colour1{
    color: #0A0826;
}
.h2-colour2{
    color: #E76F51;
}
.premium-bg{
    background-image: url(pic/future-2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.new-honda-w{
    width: 270px;
}
.new-honda-w h5{
    font-weight: bold;
}
.new-honda-rounded{
    border-radius: 20px;
}
.honda-rounded{
    border-radius: 20px;
}
.honda-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.future-bike-color{
    color: #6C6C6C;
}
.future-bike-clr{
    color: #a5a4a4;
}
footer span{
    color:#D9DBE1;
}
